<!DOCTYPE html>
<html lang="en">

<head>
    <title>Totalgames Playable</title>

    <%= require('html-loader!../../common/meta.html').default %>

    <script src="html/prod/ironsource/dapi.js" inline></script>

    <link href="css/style-dev.css" inline>
</head>

    <body ondragstart="return false;" ondrop="return false;">
        <div id="loader"></div>
        <div id="main">
        <div id="canvas3d"></div>
        <div id="canvas2d"></div>
    </div>
    
    <script>
        window.addEventListener("load", onWindowLoaded);

        function onWindowLoaded() {
            window.removeEventListener("load", onWindowLoaded);

            if (dapi.isReady()) {
                dapiIsReady();
            } else {
                dapi.addEventListener("ready", dapiIsReady);
            }
        }

        function dapiIsReady() {
            dapi.removeEventListener('ready', dapiIsReady);

            if (dapi.isViewable()) {
                initApplication();
            } else {
                dapi.addEventListener("viewableChange", waitForDapiViewable);
            }
        }

        function waitForDapiViewable(event) {
            if (event.isViewable) {
                dapi.removeEventListener("viewableChange", waitForDapiViewable);   
                initApplication();
            }
        }

        function initApplication() {
            var isAudioEnabled = !!dapi.getAudioVolume();
            var screenSize = dapi.getScreenSize();
            dapi.addEventListener("audioVolumeChange", dapiVolumeChange);

            app.settings.versionId = Number("<%= htmlWebpackPlugin.options.versionId %>");
            app.settings.platform = "dapi";
			app.settings.language = "<%= htmlWebpackPlugin.options.language %>";
            app.settings.titleKey = "<%= htmlWebpackPlugin.options.titleKey %>";
            app.settings.isSoundButton = false;
            Object.freeze( app.settings );

            app.init();
            app.openStore = openStore;

            if (!isAudioEnabled) app.sound.mute();
            app.resize.screen = screenSize;

            dapi.addEventListener("viewableChange", dapiViewableChange);
            dapi.addEventListener("adResized", dapiResize);

            document.getElementById('loader').classList.add('hidden');
        }
        
        function dapiViewableChange(event) {
            if (event.isViewable) {
                app.resume();
            } else {
                app.pause();
            }
        }      
        
        function dapiResize(screenSize) {
            app.resize.screen.width = screenSize.width;
            app.resize.screen.height = screenSize.height;
            app.resize.onWindowResize();
        }

        function dapiVolumeChange(volume) {
            if (typeof volume !== undefined) {
                isAudioEnabled = !!volume;
            }

            isAudioEnabled ? app.sound.unmute() : app.sound.mute();
        }

        function openStore() {
            dapi.openStoreUrl();
        }
    </script>
</body>

<script inline-asset="main.js"></script>

</html>