<!doctype html>
<html lang="en">
    <head>
        <title>Totalgames Playable</title>

        <%= require('html-loader!../../common/meta.html').default %>

        <link href="css/style-dev.css" inline />
        <script inline-asset="main.js"></script>

        <script>
            window.addEventListener("load", onWindowLoaded);

            function onWindowLoaded() {
                window.removeEventListener("load", onWindowLoaded);
                window.gameReady && window.gameReady();
            }

            function gameStart() {
                app.settings.versionId = Number("<%= htmlWebpackPlugin.options.versionId %>");
                app.settings.isDownloadButton = true;
                app.settings.isSoundButton = false;
                app.settings.platform = "mintegral";                
			    app.settings.language = "<%= htmlWebpackPlugin.options.language %>";
                app.settings.titleKey = "<%= htmlWebpackPlugin.options.titleKey %>";
                Object.freeze(app.settings);

                app.init();
                app.openStore = openStore;
                app.gameEnd = gameEnd;
            }

            function gameClose() {
                app.pause();
            }

            function openStore() {
                window.install && window.install();
            }

            function gameEnd() {
                window.gameEnd && window.gameEnd();
            }
        </script>
    </head>

    <body ondragstart="return false;" ondrop="return false;">
        <div id="main">
            <div id="canvas3d"></div>
            <div id="canvas2d"></div>
        </div>
    </body>
</html>
